<form [formGroup]="registerForm" (ngSubmit)="submit()" class="flex main-container">
  <div>
    <h2>Create your account</h2>
  </div>

  <div class="items-wrapper">
    <div class="register-item">
      <label>Email</label>
      <input type="email" formControlName="email" />
      <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        Invalid email
      </small>
    </div>

    <div class="register-item">
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>

    <div class="register-item">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
      <small
        *ngIf="
          registerForm.errors?.['passwordsMismatch'] && registerForm.get('confirmPassword')?.touched
        "
      >
        Passwords do not match
      </small>
    </div>
  </div>

  <div>
    <button type="submit" class="submit-btn" [disabled]="registerForm.invalid || loading">
      {{ loading ? 'Signing up...' : 'Sign Up' }}
    </button>
  </div>

  <div>
    <p>Already have an account?<a routerLink="/login"> Sign In</a></p>
  </div>

  <p *ngIf="error" class="error">{{ error }}</p>
</form>
