<div class="flex main-container">
  <div>
    <h2>Create your account</h2>
  </div>

  <div class="items-wrapper">
    <div class="register-item">
      <label for="email">Email</label>
      <input name="email" type="email" />
    </div>
    <div class="register-item">
      <label for="password">Password</label>
      <input name="password" type="password" />
    </div>
    <div class="register-item">
      <label for="confirm-password">Confirm Password</label>
      <input name="confirm-password" type="password" />
    </div>
  </div>

  <div>
    <button type="submit" class="submit-btn">Sign Up</button>
  </div>

  <div>
    <p>Already have an account?<a href="/login"> Sign In</a></p>
  </div>
</div>
