<form [formGroup]="loginForm" (ngSubmit)="submit()" class="flex main-container">
  <div>
    <h2>Sign in to your account</h2>
  </div>

  <div class="items-wrapper">
    <div class="login-item">
      <label for="email">Email</label>
      <input name="email" type="email" formControlName="email" />
    </div>
    <div class="login-item">
      <label for="password">Password</label>
      <input name="password" type="password" formControlName="password" />
    </div>
  </div>

  <small
    *ngIf="
      (loginForm.get('email')?.errors?.['invalidCredentials'] && loginForm.get('email')?.touched) ||
      (loginForm.get('password')?.errors?.['invalidCredentials'] &&
        loginForm.get('password')?.touched)
    "
  >
    Invalid email or password
  </small>
  <div>
    <button type="submit" class="submit-btn">Log In</button>
  </div>

  <div>
    <p>Don't have an account? <a routerLink="/register"> Sign Up?</a></p>
  </div>
</form>
